.drop-down-menu{
    display: block;
    /* width: 293px;*/
    max-width: 293px;
    width: 100%;
    height: auto;
    position: absolute;
    background: white;
    border: 1px solid #301B46;
    border-radius: 6px;
    margin: 20px 30px;
}
/*
.menu-item:hover .drop-down-menu{
    display: block;
}
*/

.drop-down-menu:before {
    content: "";
    position: absolute;
    border-color: rgba(194, 225, 245, 0);
    border: solid transparent;
    border-top-color: white;
    border-width: 11px;
    margin-left: -10px;
    bottom: -21px;
    right: calc((293px /2) - 1px);
    z-index: 1;
}
.drop-down-menu:after {
    content: "";
    position: absolute;
    right: calc(293px/2);
    bottom: -21px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #2B1A41;
    z-index: 0;
}

.colors{
    display: flex;
    /* grid-auto-rows: auto;*/
    flex-wrap: wrap;
    position: relative;
    /* justify-content: space-between;*/
    gap: 10px 10px;
    max-width: 242px;
    width: 100%;
    padding: 20px 25px;
}

.colors .boton{
    cursor: pointer;
    width: 26px;
    height: 26px;
    background: blue;
}